# Personal Environment Settings
**/.vscode/*
**/.vs/*

# Source Files for Test
**/a.c
**/a.cpp
**/Main.java
**/Main.class

# Template Files in Sepcific Folder
*/template.*

# Test Date
**/in.txt
**/out.txt

# Binary Files for Test
**/*.exe
